.container {
  position: relative;
  background: white;
  padding-bottom: 60px;
  width: 400px;
  height: 200px;
}

mat-dialog-content,
h2 {
  color: #091d26 !important;
}

h2, h4 {
  text-align: center;
}

mat-dialog-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  grid-row-gap: 10px;
}

.btns {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}

button {
  width: 100px;
  height: 50px;
  font-size: 16px;
  transition-duration: 0.4s;
  background-color: #124d54;
  color: #ededed;
  margin: 0 5px;
}

button:hover {
  background-color: #ededed;
  color: #124d54;
  border: 2px solid #124d54;
}

mat-slider {
  margin: 30px auto 30px;
  display: block;
  width: 80%;
}

.mat-mdc-slider {
  --mdc-slider-active-track-color: #124d54;
  --mdc-slider-inactive-track-color: #d84f2a;
}


