<div class="player-info">
  <h2>Current player sign: {{ currPlayer }} </h2>
  <h4>Time: {{ time }} s</h4>
</div>
<div class="board mat-elevation-z8">
  <app-board-square
    [ngClass]="{
      'border-right': getCoordinates(i).y < (HEIGHT - 1),
      'border-bottom': getCoordinates(i).x < (WIDTH - 1),
    }"
    [value]="sign"
    [isWinningPosition]="isWinningPosition(i)"
    *ngFor="let sign of board; let i = index" (click)="onSquareClicked(i)"
  >
  </app-board-square>
</div>

<div class="btn-wrapper">
  <button class="mat-elevation-z5" mat-button (click)="onChooseSignClicked()">Choose Sign</button>
  <button class="mat-elevation-z5" mat-button (click)="onSeeResultsClicked()">See Results</button>
</div>

