h2, h4 {
  text-align: center;
}

.board {
  border-radius: 10px;
  background: #ededed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 50%;
}

.border-right {
  border-right: 3px solid #091d26;
}

.border-bottom {
  border-bottom: 3px solid #091d26;
}

button {
  transition-duration: 0.4s;
  background-color: #124d54;
  color: #ededed;
  text-align: center;
  margin-bottom: 100px;
}


button:hover {
  background-color: #ededed;
  color: #124d54;
  border: 2px solid #124d54;
}

.btn-wrapper {
  text-align: center;
  margin-top: 20px;
}

.btn-wrapper button {
  margin-right: 10px;
}
