h2, h4 {
  text-align: center;
}

.board {
  border-radius: 10px;
  background: #ededed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 50%;
}

.border-right {
  border-right: 3px solid #091d26;
}

.border-bottom {
  border-bottom: 3px solid #091d26;
}

